@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "./controls";
:root {
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --Magnolia: #f4f3fe;
  --Gray: #f4f4f4;
  --White: #ffffff;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
}

footer {
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
  height: auto;
  background-color: var(--White);
  z-index: 10;
  margin-top: 100px;

  position: relative;
  .container {
    margin-bottom: 0;
  }
  .InstinctHub_foot {
    width: 215px;
  }
  .media {
    // width: 50%;
    display: flex;
    max-width: 255px;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    img {
      width: 40px;
      height: 30px;
      object-fit: cover;
    }
  }
  .location {
    padding-left: 27px;
    &::before {
      content: url("../svg/location.svg");
      position: absolute;
      left: -5px;
    }
  }
  .phone {
    padding-left: 27px;
    &::before {
      content: url("../svg/phone.svg");
      position: absolute;
      left: -5px;
    }
  }
  .email {
    padding-left: 27px;
    &::before {
      content: url("../svg/email.svg");
      position: absolute;
      left: -5px;
    }
  }
  .footer_wrap {
  }
  .reserved_foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid rgba(33, 33, 33, 0.2);
    .main {
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      h5 {
        margin-right: 20px;
      }
      ul {
        display: flex;

        li {
          margin-top: 0;
          padding: 0 10px;
          &::before {
            content: "";
            width: 5px;
            display: inline-block;
            // height: 5px;
            background-color: rgba(44, 51, 58, 0.2);
          }
        }
      }
    }
  }
  .reserved {
    padding: 15px 0;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: var(--Gray);
    text-align: center;
  }
  .wrap_footer_icon {
    display: flex;
    justify-content: space-between;
    width: 60%;
    img {
      width: 35px;
    }
  }
  .quick_links {
    padding-top: 30px;
    h3 {
      margin-bottom: 20px;
      font-weight: 600;
    }
    li {
      a {
        font-family: var(--Nunito);
      }
      transform: scale(1);
      transition: 0.4s;
      margin-bottom: 10px;
      &:hover {
        color: var(--ViridianGreen);
        font-weight: 600;
      }
    }
  }
  .social_media {
    text-align: center;
    .media {
      margin: 30px auto 0;
      display: flex;
      justify-content: space-between;
      width: 16%;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .copyright {
    text-align: center;
    // height: 50px;
    padding: 15px 0;
    background-color: var(--Gunmetal);
    h5 {
      margin: 0;
      color: var(--White);
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;

      text-align: center;
      text-transform: capitalize;
    }
  }
  ul.breadcrumb {
    list-style: none;
    margin: 20px 0 40px 0;
    font-family: var(--Nunito);
  }
  ul.breadcrumb li {
    display: inline;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--DarkCyan);
  }
  ul.breadcrumb li + li:before {
    content: "";
    // font-size: 30px;
    border: 1px solid var(--Gunmetal);
    transform: rotate(90deg);
    // padding: 0 10px;
    background-color: var(--Gunmetal);
    display: inline-block;
    width: 0px;
    position: relative;
    top: -4px;
  }
  ul.breadcrumb li a {
    color: var(--Gunmetal);
    text-decoration: none;
    transition: 0.7s ease;
  }
  ul.breadcrumb li a:hover {
    color: var(--Gunmetal);
    text-decoration: underline;
  }
}

@media (min-width: 580px) {
  .footer_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .quick_links {
      padding-bottom: 40px;
      width: 44%;
    }
  }
}
@media (max-width: 540px) {
  footer .reserved_foot .main {
    text-align: center;
    justify-content: center;
  }
  footer .media {
    max-width: 250px;
    margin: 20px auto;
  }
}
@media (min-width: 980px) {
  .footer_wrap .quick_links {
    width: 12%;
  }
  .it_logo {
    width: 23% !important;
  }
  .last-media {
    width: 23% !important;
  }
}
